{% extends 'custom_admin_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Total Attendance{% endblock %}
{% block content %}
    <div class="bg-light py-3">
        <div class="container mt-4">
            <h5 class="my-3 text-center text-muted">Attendance for {{ name_of_student }}</h5>
            {% if message %}
                <h5 class="my-3 text-center alert alert-danger px-3 py-2 rounded">{{ message }}</h5>
            {% endif %}
            <div class="d-flex justify-content-center my-4">
                <form action="{% url 'individual_attendance' %}" method="POST" class="row g-3 align-items-end">
                    {% csrf_token %}

                    <div class="col-md-4">
                        <label for="mess_no" class="form-label fw-medium">Mess Number</label>
                        <input type="number" name="mess_no" id="mess_no" class="form-control" required>
                    </div>

                    <div class="col-md-4">
                        <label for="date_of_attendance" class="form-label fw-medium">Month</label>
                        <input type="month" name="date_of_attendance" id="date_of_attendance" class="form-control"
                               required>
                    </div>

                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success w-100">Submit</button>
                    </div>
                </form>
            </div>

            <div class="my-5">
                <div class="row">
                    <!-- Breakfast -->
                    <div class="col-md-4">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th colspan="2">Total Breakfast Attendance: {{ breakfast_attendance.count }}</th>

                            </tr>
                            <tr>
                                <th>SL No</th>
                                <th>Entry Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for attendance in breakfast_attendance %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ attendance.timestamp|date:"l jS F h:i A" }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Lunch -->
                    <div class="col-md-4">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th colspan="2">Total Lunch Attendance: {{ lunch_attendance.count }}</th>

                            </tr>
                            <tr>
                                <th>SL No</th>
                                <th>Entry Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for attendance in lunch_attendance %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ attendance.timestamp|date:"l jS F h:i A" }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Dinner -->
                    <div class="col-md-4">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th colspan="2">Total Dinner Attendance: {{ dinner_attendance.count }}</th>

                            </tr>
                            <tr>
                                <th>SL No</th>
                                <th>Entry Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for attendance in dinner_attendance %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ attendance.timestamp|date:"l jS F h:i A" }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
