{% extends 'base.html' %}
{% load static %}

{% block title %}Apply for MessCut{% endblock %}

{% block content %}
    <div class="text-center my-5 d-flex align-items-center justify-content-center ">
        <div class="card w-100">
            <h2 class="text-center my-4">Weekly Menu</h2>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                <tr>
                    <th>Day</th>
                    <th>Breakfast</th>
                    <th>Lunch</th>
                    <th>Dinner</th>
                </tr>
                </thead>
                <tbody>
                {% for menu in weekly_menu %}
                    <tr>
                        <td>{{ menu.day|capfirst }}</td>
                        <td>{{ menu.breakfast|title }}</td>
                        <td>{{ menu.lunch|title }}</td>
                        <td>{{ menu.dinner|title }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
{% endblock %}
